<div>
  <div class="block">
    <p class="text-center text-white md:text-6xl">¡Welcome to Ghiblipedia!</p>
  </div>
  <div class="block">
    <p class="text-lg md:text-2xl text-white text-center">
      “Just follow your heart and keep smiling”
    </p>
  </div>
</div>

<app-ui-data-view></app-ui-data-view>

<!-- <div class="flex justify-content-center flex-wrap" *ngIf="loading$">
  <div *ngFor="let item of films" class="m-2">
    <div class="text-center px-6">
      <app-ui-card
      [header]="item.title"
      [subheader]="item.original_title"
      [description]="item.original_title_romanised"
      [icon]="'/assets/images/totoro.svg'"
    ></app-ui-card>
    </div>
  </div>
</div> -->
