<p-dataView #dv [value]="items" [paginator]="true" [rows]="8" filterBy="name"
 layout="list">
<!-- <ng-template pTemplate="header">
    <div class="flex flex-column md:flex-row md:justify-content-between">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </div>
</ng-template> -->
<ng-template let-item pTemplate="listItem" class="list">
    <div class="px-2">
        <div>
            <div class="text-center">
                <app-ui-card
                [header]="item.title"
                [subheader]="item.original_title"
                [description]="item.original_title_romanised"
              ></app-ui-card>
            </div>
        </div>
    </div>
</ng-template>
<!-- <ng-template let-item pTemplate="gridItem">

</ng-template> -->
</p-dataView>
